* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
}

.center {
  text-align: center;
}

.upload-btn {
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  background-size: 300% 300%;
  animation: gradientMove 5s ease infinite;
  transition: transform 0.2s ease;
}

.upload-btn:hover {
  transform: scale(1.05);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.display {
  padding: 15px 40px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 38px;
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  background-size: 300% 300%;
  animation: gradientMove 5s ease infinite;
  font-weight: 600;
  transition: transform 0.2s ease;
}

.display:hover {
  transform: scale(1.05);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
